################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/*
/Contabilidad.Bussines/bin
/Contabilidad.Entity/bin
/Contabilidad.DataAccess/bin