/***** <!--   MENU  *****/


.Label {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color: Black; }

.Integer {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
border: 1px solid #7F9DB9;
text-align:right;
color: Black;
width:90px; }

.Header_Aqua2 th {
font-family: Tahoma, Arial, Helvetica, sans-serif; 
font-size: 8pt;
text-align: left;
background-color: #721d34;
color: white;
border-right: 1px solid silver;
position:relative;
cursor: default; }

.String {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 9pt;
border: 1px solid Silver;
color: Black;
width: 190px; }

.StringLarge {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 9pt;
border: 1px solid #721d34;
color: Black;
width: 400px; }

.paggerTbl
{
    font-family: tahoma;
    font-size: 8pt;
    color: #999999;
}

.border
{
    border: solid 1px #929299
}

.Button      
{
    color: #2C4D79;   
    font-size: 9pt;
    font-family: Tahoma;				    
    cursor: default;	
    vertical-align: middle;	 		
    border: solid 1px #A3C0E8;	
    background: #C8DFFF url('../Img/mVertBack.gif') top;
    background-repeat:repeat-x;
	padding: 3px 3px 3px 3px;
	width: 80px;
}

.HeadDate 
{
	background-color:White;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:7pt;
	color:Black;
	border:Solid 1px Navy;
	text-align:center;
	width:80px;
	height: 15px;
}

.Head
{
	background-color:#ADD8E6;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:Navy;
	border:solid 1px;
	text-align:center;
	width:80px;
	height: 22px;
	border:1pt;
}

th A:link {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: White;
text-decoration: none; 
padding: 7px 6px 7px 6px;
border-top-style: none;
font-weight: normal;
text-align: left;
height:15px;
}

th A:visited {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: White;
text-decoration: none; 
padding: 7px 6px 7px 6px;
border-top-style: none;
font-weight: normal;
text-align: left;
height:15px;
}

th A:hover {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: Red; 
height:15px;}

th A:active {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: Navy;
text-decoration: none; 
height:15px;}


.lnkMenuOn {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: lighter;
color: #FFFFFF;
background-color: #6D81A4;
cursor: hand; }

.GridViewRow {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: Black;
background-color:#FFFFFF; }

.GridViewAlternatingRow {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: Black;
background-color:#EEEEEE; }

.GridViewRow:hover {
	background-color: #f0f0f0; /* Cambia a cualquier color que desees */
	cursor: pointer;
}

.lnkMenuOff {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: lighter;
color: Navy;
background-color: #C8C8C8;
cursor: hand; }

.MenuBackGround {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 9pt;
color: White; }

.HeaderPrincipalTitle {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:16pt;
font-weight:bold;
color:#990066;  
text-align:center; }

.HeaderLinkBar {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:8pt;
color:Navy;  
text-align:right; }

.HeaderSubMenu {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;

color:White;  
background-color:Navy;
height: 2px; }

.HeaderOptionName {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:11pt;
font-weight:bold;
color:Navy;  
background-color:#DFE7EF;
height: 2px; }

.LabelLink {
color: blue;
cursor: hand;
text-decoration: underline; }


 
 .AresFormButton2 {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:120px; }

.AresFormButtonPopUp {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:31px; }

.AresFormGridViewPaging {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color: Navy;
background-color: #F4F4F4;
border: #FFFFFF 1px solid; }

.AresFormLabelBlack {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Black; }

.AresFormLabelStatus {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight: bold;
color: Green; }

.AresFormLinkButton {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt; }

.AresFormCaption {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 9pt;
color: Navy;
text-align:right; }

.AresFormCaptionLeft {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color: Navy;
text-align:left; }

.AresFormBarDelete {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:80px;  }

.AresFormBarNew {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:80px; }

.AresFormBarModify {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:80px; }

.AresFormBarSave {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:80px; }

.AresFormBarCancel {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:80px; }
 
.AresFormBarSearch {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color:Navy;
text-align:center;
width:80px; }
 
.AresFormFilterPanel {
border: 1px solid #CCCCCC;
color: Navy; }

.AresFormDetailPanel {
border: 1px solid #CCCCCC;
color: Navy; }

.AresFormListPanel {
border: 1px solid #CCCCCC;
color: Navy; }

.AresFormSelectControl {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
color: Navy;
width:98%; }

.AresFormString {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 9pt;
border: 1px solid #7F9DB9;
color: Navy;
width: 190px; }

.AresFormStringRight {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 9pt;
border: 1px solid #7F9DB9;
color: Navy;
width: 190px;
text-align:right; }

.AresFormBoolean {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
border: 1px solid #7F9DB9; }

.AresFormBooleanGrid {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt; }

.AresFormDecimal {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size:9pt;
border: 1px solid #7F9DB9;
color: Navy;
width:98%; }

.AresFormTitle {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 14.0pt;
font-weight: bold;
color: #721d34;
text-align:left;
vertical-align: middle;
background:#FFFFFF ;
width: 100%;
height: 100%; }

div#div-DetailPanel {
background-color: #FFFFE3;
width: 100%;
scrollbar-base-color: Red; }



div#div-ListPanel2 {
width: 99%;
height: 450px;
overflow:auto;
scrollbar-base-color: Silver; }

div#div-ListPanel3 {
width: 99%;
height: 350px;
overflow-x:hidden;
overflow-y:scroll;
position:relative;
scrollbar-base-color: Silver; }

.locked th {
font-family: Tahoma, Arial, Helvetica, sans-serif; 
font-size: 8pt;
background-color: #6D81A4;
color: White;
border-right: 1px solid;
border-right-color: #CCCCCC;
position:relative;
cursor: default;
top: expression(this.offsetParent.scrollTop); }

#listItem {
	font:12px Arial, Helvetica, sans-serif;
	width:200px;
	background-color:#FFF;
	border:1px solid #DDD;
	}


.AresFormGridViewTypeBatchG {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: Navy;
background-color:#CCFFCC; }

.AresFormGridViewTypeBatchV {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: Navy;
background-color:#FFCCFF; }

.AresFormDetailHeader_Aqua2 th {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt; 
color: white;
text-align: center;
background-color: #6F8EB7;
border-right: 1px solid silver; }

.AresFormDetailGridViewRow {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: black;
background-color:#FFFFFF; }

.AresFormDetailGridViewAlternatingRow {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
color: black;
background-color: #F8F8F8; }

.Txt-XSmall-BlueLink {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #023185;
text-decoration: underline;
cursor: hand }

.bordeTabla {
border: 1px solid #CCCCCC;
color: #023185; }

.ConcilManual {
font-family: Tahoma, Arial, Helvetica, sans-serif; 
font-size: 8pt;
background-color: #6D81A4;
color: White; }


.Header_Aqua2 {
	cursor: pointer;
	color : Navy;
	white-space: nowrap;
	padding: 2px 2px 2px 2px;
	border: Solid 1px #A3C0E8;
	background: url('../Img/mVertBack.gif'); 
	background-position: top;
	background-repeat: repeat-x;
	background-color: #E2F0FF;
	overflow: hidden;
	-moz-user-select: none;
    font-weight: normal;
    text-align: left;
}

.Title {			/* Titulo de la pantalla seleccionada */
	font-family: Arial;
	font-size: 9pt;
    font-weight:bolder;
	color: Navy;
	text-align:left;
	vertical-align: middle;
	padding:6px ;
	letter-spacing: 1px;
	border: 0px solid #666666;
	text-transform: uppercase;
	height: 30;
	
}