*{
 margin: 0;   
}
html,BODY{
	font-weight: normal;
	font-size: 8pt;
    COLOR: #65647A;
	text-transform: none;
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
    height:100%;	                
	background:#ffffff;
    	
}

#contenedor-login{
    position: absolute;
    left: 50%; 
    top: 50%; 
    height: 400px; 
    margin-top: -150px;    
    width: 600px; 
    margin-left: -300px; 
}

#login{ height:275px; width:537px; margin: 0 auto;  background: url("../../images/mnucentro.png") no-repeat; }

#btnlogin{ width:77px; height:38px; border:none; background: url("../../images/mnucentro.png") no-repeat; font-size: 8pt; cursor:pointer; }

.input-login{ border:none; font-size:9pt; COLOR: #ffffff;}

b{ font-size:9pt; }

